<div class="movie-list-container">
    <h2>🎬 Filmes Populares</h2>
    <div class="movie-grid">
      <mat-card class="movie-card" *ngFor="let movie of movies" [routerLink]="'/movie/' + movie.id">
        <img mat-card-image [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.title" />
        <mat-card-content>
          <h3>{{ movie.title }}</h3>
          <p>{{ movie.release_date | date }}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-paginator 
      [length]="totalResults"
      [pageSize]="pageSize"
      [pageSizeOptions]="[20]" 
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  