.movie-list-container {
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  justify-content: center;
  padding: 10px;
}

.movie-card {
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-link {
  text-decoration: none;
  color: inherit;
  display: block;
}


mat-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

mat-paginator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}


@media (max-width: 1024px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  h2 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  h2 {
    font-size: 18px;
  }
}
